<div class="col-sm-6 offset-sm-3">
  <%= form_tag(sessions_path, method: 'post') do %>
    <%= text_field_tag :username, nil, class: 'form-control mb-2', placeholder: 'Username', autofocus: true %>
    <%= password_field_tag :password, nil, class: 'form-control mb-2', placeholder: 'Password' %>
    <%= submit_tag 'Sign In', class: 'btn btn-primary mb-2 col-sm-12 col-md-2' %>
  <% end %>
</div>
